/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Apply a background color to the body */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* Header style */
header {
    background-color: #3498db;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 36px;
    color: white;
}

/* Main content style */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.video-container {
    max-width: 800px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#video-stream {
    width: 100%;
    max-width: 800px;
}

.controls {
    margin-top: 20px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Footer style */
footer {
    text-align: center;
    margin-top: 20px;
}

.view-images-link {
    text-decoration: none;
    color: #3498db;
    font-size: 18px;
}

.view-images-link:hover {
    text-decoration: underline;
}
