/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body::-webkit-scrollbar {
    width: 0;
}

body::-webkit-scrollbar-track {
    background: transparent; /* Hide scrollbar track */
}

body::-webkit-scrollbar-thumb {
    background: transparent; /* Hide scrollbar thumb */
}


/* Apply a visually pleasing background color to the body */
body {
    background-color: #f9f9f9; /* Light gray */
    font-family: 'Arial', sans-serif;
    color: #333; /* Dark gray text */
}

/* Header style */
header {
    background-color: #3498db; /* Blue */
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 3em; /* Larger font size */
    color: white;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3); /* Text shadow */
}

/* Main content style */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.video-container {
    max-width: 900px; /* Slightly wider video container */
    width: 100%;
    border-radius: 20px; /* More rounded corners */
    overflow: hidden; /* Hide overflowing elements */
    position: relative;
}

#video-stream {
    width: 100%;
}

.controls {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

button {
    font-size: 1.2em;
    padding: 15px 25px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 20px; /* Rounder corners */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth hover transition */
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover {
    transform: scale(1.1); /* Slightly larger on hover */
}

/* Gradient style for active button */
button.active {
    background: linear-gradient(45deg, #ff3399, #cc66ff); /* Gradient background */
    color: white;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); /* Shadow on hover */
}

/* Footer style */
footer {
    text-align: center;
    margin-top: 10px;
}

/* Button Styles for view-images-link */
.view-images-link button {
    font-size: 24px;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.view-images-link button:hover {
    background-color: #2980b9;
    transform: scale(1.1);
}
